{% include 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>健康知识</title>
{#    <link href="css/index.css" rel="stylesheet"/>#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="jumbotron" style="background-color: #3c763d;">
        <h1>
            <div style="color: white; text-align: center;">健康知识</div>
        </h1>
    </div>

    <br/>

    <ul class="nav nav-pills">
        <li class="active" style="background-color: green;"><a href="#" style="background-color: #3c763d;">首页</a>
        </li>
        <li><a href="#">普科</a></li>
        <li><a href="#">内科</a></li>
        <li><a href="#">外科</a></li>
    </ul>

    <br/>

    <h4><b>最新文章</b></h4>
    <hr/>

    <div class="row">
        <h1>这里分类展示所有文章</h1>
    </div>

</div>
</body>

</html>