<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/knowledge/detail.css" />
</head>


<body>
    {% for s in surgery_knowledge %}
        <h2>{{ s.Internaltitle }}</h2>
        <p class="one gray">时间:<em>{{ s.Surgerydate }}</em>&nbsp; 关键字:<em>{{ s.Surgerykeywords }}</em>  发布者:<em>{{ s.Publisher }}</em></p>
        <hr/>
        <p class="one gray">导读:<em>{{ s.Surgerypreread }}</em></p>
        <h2>正文</h2>
        {{ s.Surgeryarticle }}
    {% endfor %}

</body>

</html>