.newsCenterPanel_inner {
    width: 1200px;
    margin: 0 auto
}

.newsCenterPanel_inner .newContentBox {
    float: left;
    width: 550px;
    height: 138px;
    text-align: left;
}
/*修饰标题*/
.newTitle {
    line-height: 44px;
    height: 50px;
    font-size: 16px;
    color: #333;
}
/*修饰内容*/
.newContent {
    line-height: 28px;
    height: 50px;
    font-size: 14px;
    color: #b0b0b0;
}
/*时间方块*/
.newContentBox .time {
    width: 54px;
    height: 70px;
    /*边界线*/
    border: 1px solid #4a68ec;
    text-align: center;
    /*外边距*/
    margin-right: 30px;
    margin-top: 14px;
    /*使时间浮动在左边*/
    float: left
}

.newContentBox .time .ym {
    font-size: 12px;
    color: blue;
}
/*控制鼠标悬浮*/
.newContentBox a:hover .time {
    background: greenyellow;
}
