{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/register.css">
</head>
{% block content %}
<body>
{#<table border="1">#}
{#    <tr>#}
{#        <th>身高</th>#}
{#        <th>体重</th>#}
{#        <th>左眼视力</th>#}
{#        <th>右眼视力</th>#}
{#        <th>日期</th>#}
{#    </tr>#}
{#    {% for mess in normal %}#}
{#        <tr>#}
{#            <td>{{ mess.height }}</td>#}
{#            <td>{{ mess.weight }}</td>#}
{#            <td>{{ mess.left_vision }}</td>#}
{#            <td>{{ mess.right_vision }}</td>#}
{#            <td>{{ mess.date }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}

<div class="rg_layout">
    <div class="rg_left">
        <p class="p_reg">基本健康信息填写</p>
        <p class="p_en">Basic information</p>
    </div>

    <div class="rg_center">
        <div class="re_form">
            <form action="result/" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td class="td_left"><label for="name">学号</label></td>
                        <td class="td_right"><input type="text" name="name"  placeholder="请输入学号"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="height">身高</label></td>
                        <td class="td_right"><input type="text" name="height"  placeholder="请输入身高cm"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="weight">体重</label></td>
                        <td class="td_right"><input type="text" name="weight"  placeholder="请输入体重kg"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="left_vision">左眼视力</label></td>
                        <td class="td_right"><input type="text" name=left_vision  placeholder="请输入左眼视力"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="right_vision">右眼视力</label></td>
                        <td class="td_right"><input type="text" name="right_vision"  placeholder="请输入右眼视力"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="pulmonary">肺活量</label></td>
                        <td class="td_right"><input type="text" name="pulmonary"  placeholder="请输入肺活量"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="btn_sub" value="提交"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</table>
</body>
{% endblock %}
</html>