{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
        <br>
    <a href="/questionnaire">健康问卷自评</a>
    <br></br>
        <details>
        <summary>生理健康数据</summary>
        <a href="/normal">一般检查</a>
        <br></br>
        <a href="/internal">内科检查</a>
        <br></br>
        <a href="/surgery">外科检查</a>
    </details>
    <br></br>
    <a href="/comment/">健康评价</a>
    <br></br>
    <a href="/person/">个人中心</a>
    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}