.rg_layout {
    width: 800px;
    height: 500px;
    padding: 40px 0 0 0;
    background-color: white;
    margin: 150px auto; /*让div标签水平居中 */
    opacity: 0.75; /* 设置透明度*/

}

.rg_left {
    float: left;
    margin: 15px;
}
.p_reg {
    color: #ffd026;
    font-size: 20px;
}

.p_en {
    color: gray;
    font-size: 20px;
}

.td_left {
    width: 100px;
    text-align: right;
    height: 45px;

}

.td_right {
    padding-left: 40px;
}

#health_info{
    width: 251px;
    height: 32px;
    border: 1px solid gray;
    padding-left: 15px;
}

#btn_sub {
    width: 150px;
    height: 40px;
    background-color: #FFD026;
    border: 1px solid #FFD026;
    border-radius: 6px;
    /* font-weight: bold; */
    margin-top: 20px;
}
