{% extends 'knowledge.html' %}

{% block knowledge %}

    <head>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="static/knowledge/new_list.css" />
    </head>


    <div class="newsCenterPanel">
        <div class="newsCenterPanel_inner">
            {% for p_knowledge,a_knowledge in knowledge_s %}
                {% if p_knowledge != NUll %}
                    <div class="newContentBox odd">
                        <a hidefocus="true" href="/internal_knowledge_detail/?new_id={{ p_knowledge.id }}">
                            <div class="time">
                                <p class="day"></p>
                                <p class="ym">{{ p_knowledge.Internaldate }}</p>
                            </div>
                            <div class="newTitle">{{ p_knowledge.Internaltitle }}</div>
                            <div class="newContent">{{ p_knowledge.Internalpreread }}</div>
                        </a>
                    </div>
                {% endif %}

                {% if  a_knowledge != NUll%}
                    <div class="newContentBox even">
                        <a hidefocus="true" href="internal_knowledge_detail/?new_id={{ a_knowledge.id }}">
                            <div class="time">
                                <p class="day"></p>
                                <p class="ym">{{ a_knowledge.Internaldate }}</p>
                            </div>
                            <div class="newTitle">{{ a_knowledge.Internaltitle }}</div>
                            <div class="newContent">{{ a_knowledge.Internalpreread }}</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}