{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
    <title>健康评价</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <style>
        body {
            background: url(static/img/comment.jpg) no-repeat center;
        }
        .rg_layout {
            width: 800px;
            height: 700px;
            padding: 40px 0 0 0;
            border: 8px solid #EEEEEE;
            background-color: white;
            margin: 150px auto; /*让div标签水平居中 */
            opacity: 0.75; /* 设置透明度*/
        }
    </style>
</head>
<body>
    <div class="rg_layout">
        <div class="rg_left">
            <p class="p_reg">基本健康信息</p>
        </div>
    您的身高是{% for mess in normal %}
                {{ mess.height }}
             {% endfor %}cm,
        体重是{% for mess in normal %}
                {{ mess.weight }}
             {% endfor %}kg,
        根据BMI（身体质量指数）标准计算准则计算出,
        您的BMI值为{% for mess in BMI %}
                     {{ mess }}
                    {% if mess <= 18.4 %}
                        您的体型偏瘦，要多吃一点哦( •̀ ω •́ )y
                    {% elif  mess >= 18.5 and mess <= 23.9 %}
                        您的体型十分标准，保持住哦(ง •_•)ง
                    {% elif  mess >= 24.0 and mess <= 27.9 %}
                        您的体重过重，注意锻炼哦( •̀ ω •́ )y
                    {% elif  mess >= 28.0 %}
                        您的体型已经达到肥胖的程度了，需要减肥维持身体健康(ง •_•)ง
                    {% endif %}
                   {% endfor %}
        <hr>
        <div class="rg_left">
            <p class="p_reg">健康可视化</p>
        </div>
        <div id="container" style="width: 400px; height: 450px; margin: 0 auto"></div>
        <script language="JavaScript">
        $(document).ready(function() {
           var chart = {
              type: 'column'
           };
           var title = {
              text: '健康评分'
           };
           var xAxis = {
              categories: ['甲状腺','淋巴结','乳腺','脊柱','肝脏','脾脏','肾脏','腹部'],
              crosshair: true
           };
           var yAxis = {
              min: 0,
              title: {
                 text: '分数'
              }
           };

           var series= [{
                    name:'类别',
                    data: {{ items }}
        },

           ];

           var json = {};
           json.chart = chart;
           json.title = title;
           json.xAxis = xAxis;
           json.yAxis = yAxis;
           json.series = series;

           $('#container').highcharts(json);

        });
        </script>
        <div class="rg_left">
            <p class="p_reg">健康评价</p>
        </div>
    {% if thyroid >= 90 %}
        您的甲状腺正常，要保持住哦！(ง •_•)ง
    {% elif thyroid >= 80 and thyroid < 90%}
        您的甲状腺中度异常，建议您不要吃辛辣，油腻食物！( •̀ ω •́ )y
    {% elif thyroid < 80  %}
        您的甲状腺重度异常，请及时就医！！
    {% endif %}
    {% if lymphgland >= 90 %}
        您的淋巴结正常，要保持住哦！(ง •_•)ง
    {% elif lymphgland >= 80 and lymphgland < 90%}
        您的淋巴结中度异常，建议您饮食清单，忌冷忌辣！( •̀ ω •́ )y
    {% elif lymphgland < 80  %}
        您的淋巴结重度异常，请及时就医！！
    {% endif %}
    {% if breast >= 90 %}
        您的乳腺正常，要保持住哦！(ง •_•)ง
    {% elif breast < 80  %}
        您的乳腺重度异常，请及时就医！！
    {% endif %}
    {% if lymphgland >= 90 %}
        您的淋巴结正常，要保持住哦！(ง •_•)ง
    {% elif lymphgland >= 80 and lymphgland < 90%}
        您的淋巴结中度异常，建议您饮食清单，忌冷忌辣！( •̀ ω •́ )y
    {% elif lymphgland < 80  %}
        您的淋巴结重度异常，请及时就医！！
    {% endif %}
    {% if liver >= 90 %}
        您的肝脏正常，要保持住哦！(ง •_•)ง
    {% elif liver >= 80 and liver < 90%}
        您的肝脏中度异常，建议少吃高脂肪高热量食物，可以吃瘦肉、鱼类、花生等食物！( •̀ ω •́ )y
    {% elif liver < 80  %}
        您的肝脏重度异常，请及时就医！！
    {% endif %}
    {% if spleen >= 90 %}
        您的脾脏正常，要保持住哦！(ง •_•)ง
    {% elif spleen >= 80 and spleen < 90%}
        您的脾脏中度异常，建议吃易消化含有足够热量的食物，如稀饭、面条！( •̀ ω •́ )y
    {% elif spleen < 80  %}
        您的脾脏重度异常，请及时就医！！
    {% endif %}
    {% if kidney >= 90 %}
        您的肾脏正常，要保持住哦！(ง •_•)ง
    {% elif kidney >= 80 and kidney < 90%}
        您的肾脏中度异常，建议多吃动物肾脏，有滋补又有强壮之功！( •̀ ω •́ )y
    {% elif kidney < 80  %}
        您的肾脏重度异常，请及时就医！！
    {% endif %}
    </div>
</body>
</html>