{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
    <title>健康评价</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="rg_layout">
        <div class="rg_left">
            <p class="p_reg">基本健康信息</p>
        </div>
    您的身高是{% for mess in normal %}
                {{ mess.height }}
             {% endfor %}cm,
        体重是{% for mess in normal %}
                {{ mess.weight }}
             {% endfor %}kg,
        根据BMI（身体质量指数）标准计算准则计算出,
        您的BMI值为{% for mess in BMI %}
                     {{ mess }}
                    {% if mess <= 18.4 %}
                        您的体型偏瘦，要多吃一点哦( •̀ ω •́ )y
                    {% elif  mess >= 18.5 and mess <= 23.9 %}
                        您的体型十分标准，保持住哦(ง •_•)ง
                    {% elif  mess >= 24.0 and mess <= 27.9 %}
                        您的体重过重，注意锻炼哦( •̀ ω •́ )y
                    {% elif  mess >= 28.0 %}
                        您的体型已经达到肥胖的程度了，需要减肥维持身体健康(ง •_•)ง
                    {% endif %}
                   {% endfor %}
        <hr>
        <div class="rg_left">
            <p class="p_reg">内科健康信息</p>
        </div>
{#        <div id="container" style="width: 400px; height: 330px; margin: 0 auto"></div>#}
{#        <script language="JavaScript">#}
{#        $(document).ready(function() {#}
{#           var chart = {#}
{#              type: 'column'#}
{#           };#}
{#           var title = {#}
{#              text: '内科健康评分'#}
{#           };#}
{#           var xAxis = {#}
{#              categories: ['肝脏','脾脏','肾脏','腹部'],#}
{#              crosshair: true#}
{#           };#}
{#           var yAxis = {#}
{#              min: 0,#}
{#              title: {#}
{#                 text: '分数'#}
{#              }#}
{#           };#}
{##}
{#           var series= [{#}
{#                    name:'内科',#}
{#                    data: {{ items }}#}
{#        },#}
{##}
{#           ];#}
{##}
{#           var json = {};#}
{#           json.chart = chart;#}
{#           json.title = title;#}
{#           json.xAxis = xAxis;#}
{#           json.yAxis = yAxis;#}
{#           json.series = series;#}
{##}
{#           $('#container').highcharts(json);#}
{##}
{#        });#}
{#        </script>#}
    <div id="container" style="width: 400px; height: 330px; margin: 0 auto"></div>
        <script language="JavaScript">
        $(document).ready(function() {
           var chart = {
              type: 'column'
           };
           var title = {
              text: '外科健康评分'
           };
           var xAxis = {
              categories: ['甲状腺','淋巴结','乳腺','脊柱','肝脏','脾脏','肾脏','腹部'],
              crosshair: true
           };
           var yAxis = {
              min: 0,
              title: {
                 text: '分数'
              }
           };

           var series= [{
                    name:'外科',
                    data: {{ items }}
        },

           ];

           var json = {};
           json.chart = chart;
           json.title = title;
           json.xAxis = xAxis;
           json.yAxis = yAxis;
           json.series = series;

           $('#container').highcharts(json);

        });
        </script>
    </div>
</body>
</html>