{% include 'base.html' %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
</head>

<body>

<div class="rg_layout">
    <div class="rg_left">
        <p class="p_reg">内科检查</p>
        <p class="p_en">Internal examination</p>
    </div>

    <div class="rg_center">
        <div class="re_form">
            <form action="#" method="post">
                <table>
                     <tr>
                        <td class="td_left">性别</td>
                        <td class="td_right">
                            <input type="radio" name="gender" value="male">男
                            <input type="radio" name="gender" value="female">女
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="username">姓名</label></td>
                        <td class="td_right"><input type="text" name="username" id="username" placeholder="姓名"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="password">年龄</label></td>
                        <td class="td_right"><input type="text" name="age" id="age" placeholder="年龄"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="email">血压</label></td>
                        <td class="td_right"><input type="email" name=blood_pressure id="blood_pressure" placeholder="血压"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="name">心率</label></td>
                        <td class="td_right"><input type="text" name="Heart_rate" id="Heart_rate" placeholder="心率"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="phone">手机号</label></td>
                        <td class="td_right"><input type="text" name="phone" id="phone" placeholder="请输入您的手机号"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="btn_sub" value="提交"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


</body>

</html>

