{% include 'base.html' %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
    <style>
        body {
            background: url(static/img/internal.jpg) no-repeat center;
        }
    </style>
</head>

<body>

<div class="rg_layout">
    <div class="rg_left">
        <p class="p_reg">内科检查</p>
        <p class="p_en">Internal examination</p>
    </div>

    <div class="rg_center">
        <div class="re_form">
            <form action="/internal/" method="post">
                <table>
                    <tr>
                        <td class="td_left">姓名</td>
                        <td class="td_right"><input type="text" name="name" id="health_info" value={{ request.session.user_name }}></td>
                    </tr>
                    <tr>
                        <td class="td_left">脉搏</td>
                        <td class="td_right"><input type="text" name="pulse" id="health_info" placeholder="脉搏/次每分钟"></td>
                    </tr>
                    <tr>
                        <td class="td_left">血压</td>
                        <td class="td_right"><input type="text" name="bloodpressure" id="health_info" placeholder="血压/mmHg"></td>
                    </tr>
                    <tr>
                        <td class="td_left">心率</td>
                        <td class="td_right"><input type="text" name="heart" id="health_info" placeholder="心率/次每分钟"></td>
                    </tr>
                    <tr>
                        <td class="td_left">肝脏</td>
                        <td class="td_right"><input type="text" name="liver" id="health_info" placeholder="肝脏"></td>
                    </tr>
                    <tr>
                        <td class="td_left">脾脏</td>
                        <td class="td_right"><input type="text" name="spleen" id="health_info" placeholder="脾脏"></td>
                    </tr><tr>
                        <td class="td_left">肾脏</td>
                        <td class="td_right"><input type="text" name="kidney" id="health_info" placeholder="肾脏"></td>
                    </tr>
                    <tr>
                        <td class="td_left">腹部</td>
                        <td class="td_right"><input type="text" name="abdomen" id="health_info" placeholder="腹部"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="btn_sub" value="提交"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


</body>

</html>

