{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>一般检查</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>身高</th>
                <th>体重</th>
                <th>左眼视力</th>
                <th>右眼视力</th>
                <th>日期</th>
            </tr>
            <tr>
                <td>{{ normal.height }}</td>
                <td>{{ normal.weight }}</td>
                <td>{{ normal.left_vision }}</td>
                <td>{{ normal.right_vision }}</td>
                <td>{{ normal.date }}</td>
            </tr>
        </table>
    </body>
</html>