{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>身高</th>
        <th>体重</th>
        <th>左眼视力</th>
        <th>右眼视力</th>
        <th>日期</th>
    </tr>
    {% for mess in normal %}
        <tr>
            <td>{{ mess.height }}</td>
            <td>{{ mess.weight }}</td>
            <td>{{ mess.left_vision }}</td>
            <td>{{ mess.right_vision }}</td>
            <td>{{ mess.date }}</td>
        </tr>
    {% endfor %}

</table>

</html>