<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>item1</th>
            <th>item2</th>
            <th>item3</th>
            <th>item4</th>
            <th>item5</th>
            <th>item6</th>
            <th>item7</th>
            <th>item8</th>
            <th>item9</th>
            <th>item10</th>
            <th>item11</th>
            <th>item12</th>
            <th>item13</th>
            <th>item14</th>
            <th>item15</th>
            <th>item16</th>
            <th>item17</th>
            <th>item18</th>
            <th>item19</th>
            <th>item20</th>
            <th>item21</th>
            <th>item22</th>
            <th>item23</th>
            <th>item24</th>
            <th>item25</th>
            <th>item26</th>
            <th>item27</th>
            <th>item28</th>
            <th>item29</th>
            <th>item30</th>
            <th>item31</th>
            <th>item32</th>
            <th>item33</th>
            <th>item34</th>
            <th>item35</th>
            <th>item36</th>
            <th>item37</th>
            <th>item38</th>
            <th>item39</th>
            <th>item40</th>
            <th>item41</th>
            <th>item42</th>
            <th>item43</th>
            <th>item44</th>
            <th>item45</th>
            <th>item46</th>
            <th>item47</th>
            <th>item48</th>
            <th>item49</th>
            <th>item50</th>
            <th>item51</th>
            <th>item52</th>
            <th>item53</th>
            <th>item54</th>
            <th>item55</th>
            <th>item56</th>
            <th>item57</th>
            <th>item58</th>
            <th>item59</th>
            <th>item60</th>
            <th>item61</th>
            <th>item62</th>
            <th>item63</th>
            <th>item64</th>
            <th>item65</th>
            <th>item66</th>
            <th>item67</th>
            <th>item68</th>
            <th>item69</th>
            <th>item70</th>
            <th>item71</th>
            <th>item72</th>
            <th>item73</th>
            <th>item74</th>
            <th>item75</th>
            <th>item76</th>
            <th>item77</th>
            <th>item78</th>
            <th>item79</th>
            <th>item80</th>
            <th>item81</th>
            <th>item82</th>
            <th>item83</th>
            <th>item84</th>
            <th>item85</th>
            <th>item86</th>
            <th>item87</th>
            <th>item88</th>
            <th>item89</th>
            <th>item90</th>
        </tr>
        <tr>
            <td>{{ message.item1 }}</td>
            <td>{{ message.item2 }}</td>
            <td>{{ message.item3 }}</td>
            <td>{{ message.item4 }}</td>
            <td>{{ message.item5 }}</td>
            <td>{{ message.item6 }}</td>
            <td>{{ message.item7 }}</td>
            <td>{{ message.item8 }}</td>
            <td>{{ message.item9 }}</td>
            <td>{{ message.item10 }}</td>
            <td>{{ message.item11 }}</td>
            <td>{{ message.item12 }}</td>
            <td>{{ message.item13 }}</td>
            <td>{{ message.item14 }}</td>
            <td>{{ message.item15 }}</td>
            <td>{{ message.item16 }}</td>
            <td>{{ message.item17 }}</td>
            <td>{{ message.item18 }}</td>
            <td>{{ message.item19 }}</td>
            <td>{{ message.item20 }}</td>
            <td>{{ message.item21 }}</td>
            <td>{{ message.item22 }}</td>
            <td>{{ message.item23 }}</td>
            <td>{{ message.item24 }}</td>
            <td>{{ message.item25 }}</td>
            <td>{{ message.item26 }}</td>
            <td>{{ message.item27 }}</td>
            <td>{{ message.item28 }}</td>
            <td>{{ message.item29 }}</td>
            <td>{{ message.item30 }}</td>
            <td>{{ message.item31 }}</td>
            <td>{{ message.item32 }}</td>
            <td>{{ message.item33 }}</td>
            <td>{{ message.item34 }}</td>
            <td>{{ message.item35 }}</td>
            <td>{{ message.item36 }}</td>
            <td>{{ message.item37 }}</td>
            <td>{{ message.item38 }}</td>
            <td>{{ message.item39 }}</td>
            <td>{{ message.item40 }}</td>
            <td>{{ message.item41 }}</td>
            <td>{{ message.item42 }}</td>
            <td>{{ message.item43 }}</td>
            <td>{{ message.item44 }}</td>
            <td>{{ message.item45 }}</td>
            <td>{{ message.item46 }}</td>
            <td>{{ message.item47 }}</td>
            <td>{{ message.item48 }}</td>
            <td>{{ message.item49 }}</td>
            <td>{{ message.item50 }}</td>
            <td>{{ message.item51 }}</td>
            <td>{{ message.item52 }}</td>
            <td>{{ message.item53 }}</td>
            <td>{{ message.item54 }}</td>
            <td>{{ message.item55 }}</td>
            <td>{{ message.item56 }}</td>
            <td>{{ message.item57 }}</td>
            <td>{{ message.item58 }}</td>
            <td>{{ message.item59 }}</td>
            <td>{{ message.item60 }}</td>
            <td>{{ message.item61 }}</td>
            <td>{{ message.item62 }}</td>
            <td>{{ message.item63 }}</td>
            <td>{{ message.item64 }}</td>
            <td>{{ message.item65 }}</td>
            <td>{{ message.item66 }}</td>
            <td>{{ message.item67 }}</td>
            <td>{{ message.item68 }}</td>
            <td>{{ message.item69 }}</td>
            <td>{{ message.item70 }}</td>
            <td>{{ message.item71 }}</td>
            <td>{{ message.item72 }}</td>
            <td>{{ message.item73 }}</td>
            <td>{{ message.item74 }}</td>
            <td>{{ message.item75 }}</td>
            <td>{{ message.item76 }}</td>
            <td>{{ message.item77 }}</td>
            <td>{{ message.item78 }}</td>
            <td>{{ message.item79 }}</td>
            <td>{{ message.item80 }}</td>
            <td>{{ message.item81 }}</td>
            <td>{{ message.item82 }}</td>
            <td>{{ message.item83 }}</td>
            <td>{{ message.item84 }}</td>
            <td>{{ message.item85 }}</td>
            <td>{{ message.item86 }}</td>
            <td>{{ message.item87 }}</td>
            <td>{{ message.item88 }}</td>
            <td>{{ message.item89 }}</td>
            <td>{{ message.item90 }}</td>
        </tr>
</body>
</html>