<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>您的心理测试结果如下</h1>
    {% for mess in F1 %}
        躯体化分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F2 %}
        强迫分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F3 %}
        人际关系敏感分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F4 %}
        抑郁分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F5 %}
        焦虑分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F6 %}
        敌意分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F7 %}
        恐怖分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F8 %}
        妄想分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F9 %}
        精神病性分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
    {% for mess in F10 %}
        其他分值：{{ mess }}
        <br/>
        程度：{% if mess >= 1 and mess <= 1.5 %}
                正常
              {% elif mess > 1.5 and mess <= 2.5 %}
                轻度
              {% elif mess > 2.5 and mess <= 3.5 %}
                中度
              {% elif mess > 3.5 and mess <= 4.5 %}
                严重
              {% elif mess > 4.5 and mess <= 5 %}
                十分严重
              {% endif %}
        <br/>
    {% endfor %}
<h1>当您有4个及以上程度为中度或更高等级，请及时到学校心理咨询室进行咨询</h1>
<table border="1">
    <tr>
        <th>程度等级</th>
    </tr>
    <tr>
        <td>正常</td>
        <td>轻度</td>
        <td>中度</td>
        <td>严重</td>
        <td>十分严重</td>
    </tr>

</table>

</body>
</html>