{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
</head>
<body>
    <div class="rg_layout">
        <div class="rg_left">
            <p class="p_reg">问卷说明</p>
            <p class="p_en">Questionnaire description</p>
        </div>
        <p align="center">《症状自评量表SCL90》是世界上最著名的心理健康测试量表之一，是当前使用最为广泛的精神障碍和心理疾病门诊检查量表，将协助您从十个方面来了解自己的心理健康程度。
            本测验适用对象为16岁以上的人群。本测验的目的是从感觉、情感、思维、意识、行为直到生活习惯、人际关系、饮食睡眠等多种角度，评定一个人是否有某种心理症状及其严重程度如何。</p>

        <hr>

        <div class="rg_left">
            <p class="p_reg">评分标准</p>
            <p class="p_en">score standard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <p align="left"> SCL-90的每一个项目均采用5级评分制，具体如下：
                <br>
                （1）没有：自觉无该项问题；
                <br>
                （2）很轻，自觉有该项症状，但对被试者并无实际影响，或者影响轻微；
                <br>
                （3）中度：自觉有该项症状，对被试者有一定影响；
                <br>
                （4）偏重：自觉有该项症状，对被试者有相当程度的影响；
                <br>
                （5）严重：自觉该症状的频度和强度都十分严重，对被试者的影响严重。
        </p>
        <a href="/question" style="text-align: center"><center><button >开始测试</button></center></a>
    </div>
</body>

</html>