{% include 'base.html' %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/person/css/table.css">
</head>

<body>

<div class="rg_layout">
    <div class="rg_left">
        <p class="p_reg">外科检查</p>
        <p class="p_en">Surgical examination</p>
    </div>

    <div class="rg_center">
        <div class="re_form">

            <form action="#" method="post">
                <table>
                    <tr>
                        <td class="td_left">甲状腺</td>
                        <td class="td_right"><input type="email" name=thyroid id="health_info" placeholder="甲状腺"></td>
                    </tr>
                    <tr>
                        <td class="td_left">淋巴结</td>
                        <td class="td_right"><input type="text" name="lymphgland" id="health_info" placeholder="淋巴结"></td>
                    </tr>
                    <tr>
                        <td class="td_left">乳腺</td>
                        <td class="td_right"><input type="text" name="breast" id="health_info" placeholder="乳腺"></td>
                    </tr><tr>
                        <td class="td_left">脊柱</td>
                        <td class="td_right"><input type="text" name="spine" id="health_info" placeholder="脊柱"></td>
                    </tr>
                    <tr>
                        <td class="td_left">四肢关节</td>
                        <td class="td_right"><input type="text" name="Limbjoints" id="health_info" placeholder="四肢关节"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="btn_sub" value="提交"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


</body>

</html>

